.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;

}

.content-container__page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.content__divide {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    background: $blue-light;
}

.content__divide2 {
    flex-direction: row
}


.content__divide::-webkit-scrollbar {
	width: 9px;
}

.content__divide::-webkit-scrollbar-thumb {
	background: $blue;
}

.content-container__bloglist {
    height: 10vh;
}

.content-container__sidebar {
    overflow-y: auto;
    height: 100vh;
    flex: 1 1 auto;
    position: relative;
}
