.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;

}

.content-container__page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.content__divide {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    overflow-y: scroll;
}

.content-container__bloglist {
    height: 10vh;
}

.content-container__sidebar {
    overflow-y: auto;
    height: 100vh;
    flex: 1 1 auto;
    position: relative;
}