

.header__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 $s-size;
    background: #283593;
    flex: 0 0 auto;
}

.header__title {
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 5rem;
    margin: 0;
    transition: color .8s ease;
    &:hover {
        color: #F44336;
    }
}

.header__item {
    color: white;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 2.5rem;
    text-decoration: none;
    transition: color .8s ease;
    &:hover {
        color: #F44336;
    }
}

.header__divide {
    display: flex;
    flex-direction: column;
}

.page-header {
    flex: 0 0 auto;
    background: $off-white;
    margin-bottom: $l-size;
    padding: $l-size 0;
    span {
        font-weight: bold;
    }
}

.page-header__title {
    margin: 0;
    font-weight: 300;
}

.page-header__actions {
    margin-top: $m-size;
    
}