.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100wh;
}

.loader__image {
    height: 3rem;
    width: 3rem;
}

.image-register {
    height: 32px;
    width: 32px;
}