.search__title {
    font-size: $xl-size;
    color: $blue-dark;
    font-weight: 600;
    justify-content: center;
    margin-top: $m-size;
}

.search__card-content {
    flex-direction: column;
    text-align: center;
    margin-bottom: $l-size;
}

.search__card {
    margin: $s-size;
}

.search__textFields {
    display: flex;
    justify-content: space-evenly;
}

.search__noResults {
    margin-top: $xl-size;
    font-size: $font-size-large;
    font-weight: 600;
}