
.sidebar::-webkit-scrollbar {
	width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: $blue;
}

.sidebar {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 20rem;
	background: white;
}